* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    display: block;
}

header .header-area {
    padding: 15px 0;
    background: var(--white-color);
}

header .header-area .header__navbar {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}